body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

header {
    padding-bottom: 2rem;
}

header h1 {
    font-family: 'Merriweather', serif;
    color: slategray;
    padding-top: 6rem;
    margin-bottom: 1rem;
}

header h2 {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 1.2rem;
    color: crimson;
}

footer {
    color: grey;
    padding-top: 3rem;
}

.description {
    width: 600px;
    color: darkslategrey;
    margin: 0 auto;
    padding-bottom: 3rem;
    text-align: justify;
}

.main {
}

.profile {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    color: #ffffff;
}

.profile .summary {
    max-height: 276px;
    background: rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.profile .skills {
    min-height: 148px;
    padding: 12px;
    background: rgba(255, 255, 255, 0.8);
}

.profile .skills .skill {
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
    padding: 4px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 13px;
    font-weight: bold;
}

.profile.thomas,
.profile.thomas .skills .skill {
    background: #4CAC9D;
}

.profile.christof,
.profile.christof .skills .skill {
    background: #5BB66F;
}

.profile.andreas,
.profile.andreas .skills .skill {
    background: #A15277;
}

.profile.nils,
.profile.nils .skills .skill {
    background: #FDA246;
}

.profile.philipp,
.profile.philipp .skills .skill {
    background: #4B6A78;
}

.profile h2 {
    font-size: 20px;
    font-weight: 200;
    padding-top: 12px;
    line-height: 1.1;
}

.profile h3 {
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    font-weight: 400;
}

.img-circle {
    width: 80%;
    border-radius: 50%;
    margin-bottom: 15px;
}