body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

header img {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
}

header h2 {
    margin: 0;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 1rem;
    color: slategrey;
}

footer {
    color: grey;
    padding-top: 3rem;
}

footer .copyright-holders {
    margin: 0 auto;
    padding-top: 1rem;
    font-size: 14px;
    color: lightgrey;
    max-width: 20rem;
}

.description {
    color: slategrey;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem 0;
    text-align: justify;
    border-top: rgba(0, 0, 0, 0.3) dashed 1px;
    border-bottom: rgba(0, 0, 0, 0.3) dashed 1px;
}

.description strong {
    color: darkslategray;
}

.profile {
    margin: 0 1rem;
    vertical-align: top;
    color: #ffffff;
}

.profile:not(:first-child) {
    margin-top: 1rem;
}

.profile .summary {
    padding: 30px;
}

.profile .skills {
    padding: 12px;
    background: rgba(255, 255, 255, 0.8);
}

.profile .skills .skill {
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
    padding: 4px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 13px;
    font-weight: bold;
}

.profile.thomas,
.profile.thomas .skills .skill {
    background: #538FB0;
}

.profile.christof,
.profile.christof .skills .skill {
    background: #3F68A1;
}

.profile.andreas,
.profile.andreas .skills .skill {
    background: #274C85;
}

.profile.nils,
.profile.nils .skills .skill {
    background: #3F68A1;
}

.profile.philipp,
.profile.philipp .skills .skill {
    background: #538FB0;
}

.profile h2 {
    font-size: 20px;
    font-weight: 200;
    padding-top: 12px;
    line-height: 1.1;
}

.profile h3 {
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    font-weight: 400;
}

.img-circle {
    width: 30%;
    border-radius: 50%;
    margin-bottom: 15px;
}

@media (min-width: 480px) {
    header img {
        width: 32%;
    }

    header h2 {
        font-size: 1.2rem;
    }

    .profile {
        display: inline-block;
        width: 240px;
        margin: 0;
    }

    .profile:not(:first-child) {
        margin-top: 0;
    }

    .profile .summary {
        max-height: 276px;
    }

    .img-circle {
        width: 80%;
    }
}

@media (min-width: 960px) {
    .description {
        max-width: 40rem;
        margin: 0 auto 1rem auto;
    }
}